* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}


.navbar {
    border: 1px solid greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F55A5A;
    padding: 1rem;
}

.navbar--icon {
    width: 1.375rem;
    height: 1.375rem;
    margin: .5rem;
}

.navbar--header {
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

.cards-list {
    max-width: 550px;
    margin: 0 auto;
}

.card {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
    gap: 1.25rem;
}

.card--image {
    width: 9.5rem;
    height: 13rem;
    border-radius: .5rem;
    object-fit: cover;
}

.card--detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.location {
    display: flex;
    align-items: center;
    margin-bottom: .625rem;
}


.location--name {
    text-transform: uppercase;
    font-size: .75rem;
    letter-spacing: .25em;
    font-weight: 500;
    margin-left: .25rem;
    margin-right: .75rem;
}

.location--link {
    font-size: .75rem;
    color: #918E9B;
    font-weight: 400;
}

.card--title {
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}

.dates {
    font-size: .75rem;
    font-weight: 700;
    margin-bottom: .75rem;
}

.description {
    font-size: .75rem;
}